body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#banner-image{
    width: 100%;
    height: 713px;
}
#banner-text{
    color: white;
    font-size: 92px;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 190px;
}
#banner-span{
    color: #08ab1e;
    font-weight: 700;
}
#banner-sub-text{
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 42%;
    padding: 0 23% 0 23%;
}
.orange-button{
    background-color: #FF5959;
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 15px;
    position: absolute;
    border-radius: 10px;
}
#banner-button{    
    top: 60%;
    left: 43%;
}
/* Donate Now Section */
.donate-count{
    padding: 56px;
    margin-bottom: 8%;
}
.donate-count h1{
    padding-left: 37%;
    font-size: 50px;
}
.donate-count p{
    text-align: center;
    padding: 0 15% 0 15%;
}
#donate-count-button{
    margin-top: 8%;
    left: 44%;
    border-bottom: 20px;
}
.count-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.count-box{
    background-color: #FAFAFA;
    color: #707070;
    font-size: 20px;
    font-weight: 700;
    width: 45px;
    border: none;
    padding: 50px;
    margin: 20px;
}
.active{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 3px solid #FF5959;
}
.donate-count input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid #B3B3B3;
    color: #B3B3B3;
    text-align: center;
    width: 58%;
    margin-left: 18%;
    padding: 40px;
    font-size: 20px;
}
.no-outline:focus {
    outline: none;
  }

/* Donate Plan Section */
.donate-plan{
    margin-top: 50px;
    margin-bottom: 57px;
    padding: 56px;
}
.donate-plan h1{
    padding-left: 37%;
    font-size: 50px;
}
#plan-text{
    text-align: center;
    padding: 0 15% 0 15%;
}
.plan-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.plan-box{
    color: #707070;
    font-size: 20px;
    width: 20%;
    border: none;
    padding: 50px;
}
.box1{
    background-color: #CAF7F1;
    margin-right: 17px;
}
.box2{
    background-color: #FAD9F1;
    margin-right: 17px;
}
.box3{
    background-color: #f4f2cc;
}
.plan-box h3{
    color: black;
    text-align: left;
}
.plan-box-text{
    font-size: 15px;
}

/* Get My Updates Section*/
.get-updates{
    margin-top: 10%;
    padding: 56px;
}
.get-updates h1{
    padding-left: 37%;
    font-size: 50px;
}
#get-updates-text{
    text-align: center;
    padding: 0 15% 0 15%;
}
.get-updates input{
    background-color: #D9D9D9;
    color: #AA9F9F;
    font-size: 17px;
    width: 55%;
    height: 45px;
    border: none;
    border-radius: 5px;
}
#submit{
    background-color: #FF5959;
    color: white;
    font-size: 17px;
    width: 30%;
}
.get-updates form{
    display: flex;
    margin-left: 78px;
}

.get-update-div{
    background-color: #FFF4D6;
    width: 40%;
    height: 40px;
    margin-left: 24%;
    padding: 101px;
    margin-top: 5%;
    margin-bottom: 7%;
}
footer{
    background-color: black;
    height: 188px;
    font-family: 'Lobster', cursive;
}
footer h3{
    text-align: center;
    color: #FF5959;
    padding-top: 30px;
    font-size: 40px;
}
footer p{
    text-align: center;
    color: white;
    padding-bottom: 7px;
}
/* Thanks Section */
.thanks-section{
    display: flex;
    background-color: #a8d8cc;
    padding-bottom: 15%;
}
.thanks-text{
    padding: 10%;
    width: 82%;
}
.thanks-text h1{
    font-size: 40px;
}
.thanks-text h4{
    color: #08ab1e;
}
.thanks-text button{
    padding: 13px;
    border-radius: 5px;
    background-color: #08ab1e;
    margin-top: 20px;
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: 18px
    
}
.thanks-section img{
    width:100%;
    padding-top: 50px;
}
.thanks-section a{    
    /* top: 609%;
    left: 10%; */
    margin-top: 40px;
}
/* .progress{
     margin-top: 5%;   
} */
